# Created by .ignore supirrelevantn (hsz.mobi)
.idea
/msploitego/build/
/msploitego/dist/
/msploitego/src/msploitego.egg-info/
/oscp/
/osint/
/python-libnmap/
/msploitego/src/msploitego/transforms/helloworld.py
/msploitego/src/msploitego/transforms/metasploitdb-canari.py
