# Created by .ignore supirrelevantn (hsz.mobi)
.idea
/msploitego/build/
/msploitego/dist/
/msploitego/src/msploitego.egg-info/
/msploitego/src/msploitego/transforms/helloworld.py
/msploitego/src/msploitego/transforms/metasploitdb-canari.py

*.pyc

msploitego/src/msploitego/transforms/common/scratch\.py
/msploitego/src/msploitego/transforms/toservice.py
/msploitego/src/msploitego/transforms/smblistshares.py
/msploitego/src/msploitego/transforms/toHashFile.py
/msploitego/src/msploitego/transforms/enum4linuxlive.py
/msploitego/src/msploitego/transforms/enum4sambashare.py
